#com-tishi {
	font-size: 20px;
	font-weight: bolder;
}

#com-user {
	font-size: 16px;
	color: rgb(251, 114, 153);
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
	background: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	padding-bottom: 4px;
	display: block;
	word-wrap: break-word;
}

#com-con {
	text-indent: 1cm;
	font-size: 100%;
	vertical-align: baseline;
	font-style: normal;
	line-height: 1.5;
	border-radius: 15px;
	border-style: solid;
	border-color: #000 #000 #000 #000;
	background: #9BD1FA;
	font-size: 100%;
}

#com-date {
	color: #99a2aa;
	line-height: 26px;
	font-size: 14px;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
	text-align: right;
}

#login-third {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #01B2D1
}

#login-secend {
	padding-top: 25px;
	font-size: 20px;
	color: #FFFFFF;
}

#login-first {
	width: 100px;
	height: 100px;
	margin-top: 22px;
}
.size{
	resize: none;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 42px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
}
