 .footer a {
	color: #1d5494;
}


.footer {
	position: fixed;
	/* _position:static; */
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 2;
	clear: both;
	line-height: 36px;
	text-align: center;
	color: #b6b6b6;
	background-color: #eff4fa;
	border-top: 1px solid #d6dfea;
	font-size:12px;
}

@media ( min-width :1070px) {
	.header, .footer {
		min-width: 1070px;
	}
	.header_logo {
		margin-left: 40px;
	}
	.header_link {
		padding-right: 40px;
	}
}

@media ( max-height :670px) {
	.footer {
		position: static;
	}
}
